<table id="active-user-table" class="min-w-full" data-table-target="table">
  <thead class="bg-gray-100">
    <tr>
      <th class="p-3 text-left">
        <span class="flex items-center cursor-pointer">
          Name
          <svg
            class="w-4 h-4 ms-1"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m8 15 4 4 4-4m0-6-4-4-4 4"
            />
          </svg>
        </span>
      </th>
      <th class="p-3 text-left">
        <span class="flex items-center cursor-pointer">
          Release Date
          <svg
            class="w-4 h-4 ms-1"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m8 15 4 4 4-4m0-6-4-4-4 4"
            />
          </svg>
        </span>
      </th>
      <th class="p-3 text-left">
        <span class="flex items-center cursor-pointer">
          Downloads
          <svg
            class="w-4 h-4 ms-1"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m8 15 4 4 4-4m0-6-4-4-4 4"
            />
          </svg>
        </span>
      </th>
      <th class="p-3 text-left">
        <span class="flex items-center cursor-pointer">
          Growth
          <svg
            class="w-4 h-4 ms-1"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m8 15 4 4 4-4m0-6-4-4-4 4"
            />
          </svg>
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td class="p-3">{{ user.name }}</td>
      <td class="p-3">{{ user.releaseDate }}</td>
      <td class="p-3">{{ user.downloads }}</td>
      <td class="p-3">{{ user.growth }}</td>
    </tr>
  </tbody>
</table>
