<div class="bg-gray-50 p-4 rounded-2xl">
  <div class="flex items-center justify-between mb-4">
    <h1 class="p-2 font-semibold text-2xl">User Management</h1>
    <nav class="text-gray-600">
      <ol class="flex space-x-2">
        <li>
          <a href="/dashboard" class="hover:text-indigo-700">
            <i class="fa-solid fa-house text-sm"></i>
          </a>
        </li>
        <li>/</li>
        <li>
          <a class="hover:text-indigo-700 text-sm">User Management</a>
        </li>
        <li>/</li>
        <li>
          <span class="text-gray-400 text-sm">Active Users List</span>
        </li>
      </ol>
    </nav>
  </div>
  <div class="bg-white shadow rounded-lg overflow-hidden p-4">
    <h1 class="p-2 mb-2 font-semibold text-xl">Active Users List</h1>
    <table id="active-user-table" class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-100">
        <tr>
          <th class="p-4 text-left text-gray-700 font-medium">
            <span class="flex items-center cursor-pointer">
              Name
              <svg
                class="w-4 h-4 ms-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m8 15 4 4 4-4m0-6-4-4-4 4"
                />
              </svg>
            </span>
          </th>
          <th class="p-4 text-left text-gray-700 font-medium">
            <span class="flex items-center cursor-pointer">
              Release Date
              <svg
                class="w-4 h-4 ms-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m8 15 4 4 4-4m0-6-4-4-4 4"
                />
              </svg>
            </span>
          </th>
          <th class="p-4 text-left text-gray-700 font-medium">
            <span class="flex items-center cursor-pointer">
              Downloads
              <svg
                class="w-4 h-4 ms-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m8 15 4 4 4-4m0-6-4-4-4 4"
                />
              </svg>
            </span>
          </th>
          <th class="p-4 text-left text-gray-700 font-medium">
            <span class="flex items-center cursor-pointer">
              Growth
              <svg
                class="w-4 h-4 ms-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m8 15 4 4 4-4m0-6-4-4-4 4"
                />
              </svg>
            </span>
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let user of users">
          <td class="p-4 text-gray-600">{{ user.name }}</td>
          <td class="p-4 text-gray-600">{{ user.releaseDate }}</td>
          <td class="p-4 text-gray-600">{{ user.downloads }}</td>
          <td class="p-4 text-gray-600">{{ user.growth }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
