<div class="bg-gray-50 p-4 rounded-2xl">
  <div class="flex items-center justify-between mb-4">
    <h1 class="p-2 font-semibold text-2xl">Key Management</h1>
    <nav class="text-gray-600">
      <ol class="flex space-x-2">
        <li>
          <a href="/dashboard" class="hover:text-indigo-700">
            <i class="fa-solid fa-house text-sm"></i>
          </a>
        </li>
        <li>/</li>
        <li>
          <a class="hover:text-indigo-700 text-sm">Key Management</a>
        </li>
        <li>/</li>
        <li>
          <span class="text-gray-400 text-sm">Keys List</span>
        </li>
      </ol>
    </nav>
  </div>
  <!-- Success Alert Message -->
  <div *ngIf="successMessage" class="w-full mb-4">
    <div
      class="bg-green-200 border border-green-500 text-green-800 px-4 py-3 rounded-lg flex justify-between items-center shadow-lg transition duration-300 ease-in-out"
      role="alert"
    >
      <div class="flex items-center">
        <i class="fas fa-check-circle mr-2 text-green-600"></i>
        <span>{{ successMessage }}</span>
      </div>
      <button
        (click)="clearMessage()"
        class="text-green-600 hover:text-green-800 transition duration-200"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  </div>

  <!-- Error Alert Message -->
  <div *ngIf="errorMessage" class="w-full mb-4">
    <div
      class="bg-red-200 border border-red-500 text-red-800 px-4 py-3 rounded-lg flex justify-between items-center shadow-lg transition duration-300 ease-in-out"
      role="alert"
    >
      <div class="flex items-center">
        <i class="fas fa-exclamation-triangle mr-2 text-red-600"></i>
        <span>{{ errorMessage }}</span>
      </div>
      <button
        (click)="clearMessage()"
        class="text-red-600 hover:text-red-800 transition duration-200"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  </div>

  <div class="bg-white shadow rounded-lg overflow-hidden p-4">
    <!-- Title with Create User button -->
    <div class="flex items-center justify-between mb-2">
      <h1 class="p-2 font-semibold text-xl">Keys List</h1>
      <button
        class="bg-green-500 text-white text-xs p-2 rounded-md hover:bg-green-700"
        title="Create New User"
      >
        <i class="fa-solid fa-user-plus mr-1"></i> Create Key
      </button>
    </div>

    <div class="overflow-x-auto">
      <table id="keys-list-table" class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-100">
          <tr>
            <th class="p-4 text-left text-gray-700 font-medium">
              Sr<i class="fa-solid fa-sort text-gray-700 ml-2"></i>
            </th>
            <th class="p-4 text-left text-gray-700 font-medium">
              Key Name<i class="fa-solid fa-sort text-gray-700 ml-2"></i>
            </th>
            <th class="p-4 text-left text-gray-700 font-medium">
              Key Type<i class="fa-solid fa-sort text-gray-700 ml-2"></i>
            </th>
            <th class="p-4 text-left text-gray-700 font-medium">
              Key Algorithm<i class="fa-solid fa-sort text-gray-700 ml-2"></i>
            </th>
            <th class="p-4 text-left text-gray-700 font-medium">
              Key Size<i class="fa-solid fa-sort text-gray-700 ml-2"></i>
            </th>
            <th class="p-4 text-left text-gray-700 font-medium">
              Key Owner<i class="fa-solid fa-sort text-gray-700 ml-2"></i>
            </th>
            <th class="p-4 text-left text-gray-700 font-medium">Key Status</th>
            <!-- <th class="p-4 text-left text-gray-700 font-medium">Key State</th> -->
            <th class="p-4 text-left text-gray-700 font-medium">
              Created On<i class="fa-solid fa-sort text-gray-700 ml-2"></i>
            </th>
            <th class="p-4 text-left text-gray-700 font-medium">Actions</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngIf="keys.length === 0">
            <td colspan="9" class="p-4 text-center text-gray-500">
              No keys found.
            </td>
          </tr>
          <tr *ngFor="let key of keys; let i = index">
            <td class="p-4 text-gray-600">{{ i + 1 }}</td>
            <td class="p-4 text-gray-600">{{ key.keyName }}</td>
            <!-- Key Type as Badge -->
            <td class="p-4">
              <span
                [ngClass]="{
                  'bg-green-100 text-green-800': key.keyType === 'Symmetric',
                  'bg-blue-100 text-blue-800': key.keyType === 'Asymmetric',
                }"
                class="px-2 py-1 rounded-full text-xs font-semibold"
              >
                {{ key.keyType }}
              </span>
            </td>
            <!-- Key Algorithm as Pill -->
            <td class="p-4">
              <span
                [ngClass]="{
                  'bg-slate-100 text-slate-800': key.keyAlgorithm === 'AES',
                  'bg-gray-100 text-gray-800': key.keyAlgorithm === 'DES',
                  'bg-zinc-100 text-zinc-800': key.keyAlgorithm === '3DES',
                  'bg-neutral-100 text-neutral-800':
                    key.keyAlgorithm === 'SEED',
                  'bg-red-100 text-red-800': key.keyAlgorithm === 'RSA',
                  'bg-orange-100 text-orange-800': key.keyAlgorithm === 'DSA',
                  'bg-amber-100 text-amber-800': key.keyAlgorithm === 'EC'
                }"
                class="inline-flex items-center px-3 py-1 rounded-full text-xs font-medium"
              >
                {{ key.keyAlgorithm }}
              </span>
            </td>
            <!-- Key Size -->
            <td class="p-4">
              <span
                [ngClass]="{
                  'bg-green-100 text-green-800': key.keySize === 64,
                  'bg-emerald-100 text-emerald-800': key.keySize === 112,
                  'bg-teal-100 text-teal-800': key.keySize === 128,
                  'bg-cyan-100 text-cyan-800': key.keySize === 168,
                  'bg-sky-100 text-sky-800': key.keySize === 192,
                  'bg-blue-100 text-blue-800': key.keySize === 256,
                  'bg-indigo-100 text-indigo-800': key.keySize === 512,
                  'bg-violet-100 text-violet-800': key.keySize === 160,
                  'bg-purple-100 text-purple-800': key.keySize === 224,
                  'bg-fuchsia-100 text-fuchsia-800': key.keySize === 384,
                  'bg-pink-100 text-pink-800': key.keySize === 521,
                  'bg-rose-100 text-rose-800': key.keySize === 1024,
                  'bg-lime-100 text-lime-800': key.keySize === 2048,
                  'bg-yellow-100 text-yellow-800': key.keySize === 3072,
                  'bg-amber-100 text-amber-800': key.keySize === 4096,
                }"
                class="inline-block px-4 py-1 rounded-full text-xs font-semibold tracking-wide"
              >
                {{ key.keySize }}
              </span>
            </td>
            <td class="p-4 text-gray-600">{{ key.keyOwner }}</td>
            <td class="p-4">
              <span *ngIf="key.keyStatus; else inactive" class="text-green-500">
                <i class="fa-regular fa-circle-check"></i>
              </span>
              <ng-template #inactive>
                <span class="text-red-500">
                  <i class="fa-regular fa-circle-xmark"></i>
                </span>
              </ng-template>
            </td>
            <!-- <td class="p-4 text-gray-600">{{ key.keyState }}</td> -->
            <td class="p-4 text-gray-600">{{ key.keyCreatedOn }}</td>
            <td class="p-4 flex space-x-2">
              <button
                class="bg-gray-500 text-white text-xs p-2 rounded-md hover:bg-gray-700"
                title="Export Key"
              >
                <i class="fa-solid fa-file-export"></i>
              </button>
              <button
                class="bg-red-500 text-white text-xs p-2 rounded-md hover:bg-red-700"
                title="Delete Key"
              >
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
