<div
  class="flex min-h-screen flex-col justify-center px-4 py-12 sm:px-6 lg:px-8"
>
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-4 text-center text-3xl tracking-tight text-gray-900">
      Create New User
    </h2>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <form
        (ngSubmit)="onSubmit(createUserForm)"
        #createUserForm="ngForm"
        class="space-y-6"
      >
        <!-- Name -->
        <div>
          <label for="name" class="block text-sm font-medium text-gray-700"
            >Name</label
          >
          <div class="mt-1">
            <input
              type="text"
              id="name"
              name="name"
              [(ngModel)]="user.Name"
              (ngModelChange)="validateName()"
              #name="ngModel"
              required
              autocomplete="name"
              placeholder="Enter full name"
              class="block w-full appearance-none rounded-md border px-3 py-2 placeholder-gray-400 shadow-sm focus:outline-none focus:ring sm:text-sm"
            />
          </div>
          <div *ngIf="nameErrorMessage" class="mt-2 text-sm text-red-500">
            {{ nameErrorMessage }}
          </div>
        </div>

        <!-- Username -->
        <div>
          <label for="username" class="block text-sm font-medium text-gray-700"
            >Username</label
          >
          <div class="mt-1">
            <input
              type="text"
              id="username"
              name="username"
              [(ngModel)]="user.UserName"
              (ngModelChange)="validateUsername()"
              #username="ngModel"
              required
              autocomplete="username"
              placeholder="Enter username"
              class="block w-full appearance-none rounded-md border px-3 py-2 placeholder-gray-400 shadow-sm focus:outline-none focus:ring sm:text-sm"
            />
          </div>
          <div *ngIf="usernameErrorMessage" class="mt-2 text-sm text-red-500">
            {{ usernameErrorMessage }}
          </div>
        </div>

        <!-- Email -->
        <div>
          <label for="email" class="block text-sm font-medium text-gray-700"
            >Email</label
          >
          <div class="mt-1">
            <input
              type="email"
              id="email"
              name="email"
              [(ngModel)]="user.Email"
              (ngModelChange)="validateEmail()"
              #email="ngModel"
              required
              autocomplete="email"
              placeholder="Enter email"
              class="block w-full appearance-none rounded-md border px-3 py-2 placeholder-gray-400 shadow-sm focus:outline-none focus:ring sm:text-sm"
            />
          </div>
          <div *ngIf="emailErrorMessage" class="mt-2 text-sm text-red-500">
            {{ emailErrorMessage }}
          </div>
        </div>

        <!-- Password -->
        <div>
          <label for="password" class="block text-sm font-medium text-gray-700"
            >Password</label
          >
          <div class="relative mt-1">
            <input
              [type]="showPassword ? 'text' : 'password'"
              id="password"
              name="password"
              [(ngModel)]="user.Password"
              (ngModelChange)="validatePassword()"
              #password="ngModel"
              required
              minlength="6"
              placeholder="Enter password"
              class="block w-full appearance-none rounded-md border px-3 py-2 placeholder-gray-400 shadow-sm focus:outline-none focus:ring sm:text-sm"
            />
            <i
              class="fa-solid"
              [ngClass]="
                showPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'
              "
              (click)="togglePasswordVisibility()"
              class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-500 cursor-pointer"
            ></i>
          </div>
          <div *ngIf="passwordErrorMessage" class="mt-2 text-sm text-red-500">
            {{ passwordErrorMessage }}
          </div>
        </div>

        <!-- Confirm Password -->
        <div>
          <label
            for="confirmPassword"
            class="block text-sm font-medium text-gray-700"
            >Confirm Password</label
          >
          <div class="relative mt-1">
            <input
              [type]="showConfirmPassword ? 'text' : 'password'"
              id="confirmPassword"
              name="confirmPassword"
              [(ngModel)]="confirmPassword"
              required
              placeholder="Confirm password"
              class="block w-full appearance-none rounded-md border px-3 py-2 placeholder-gray-400 shadow-sm focus:outline-none focus:ring sm:text-sm"
            />
            <i
              class="fa-solid"
              [ngClass]="
                showConfirmPassword
                  ? 'fa-solid fa-eye-slash'
                  : 'fa-solid fa-eye'
              "
              (click)="toggleConfirmPasswordVisibility()"
              class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-500 cursor-pointer"
            ></i>
          </div>
          <div *ngIf="passwordMismatch" class="mt-2 text-sm text-red-500">
            Passwords do not match.
          </div>
        </div>

        <!-- Role -->
        <div>
          <label
            for="dropdownRadioBgHoverButton"
            class="block text-sm font-medium text-gray-700"
            >Role</label
          >
          <div class="relative mt-1">
            <button
              id="dropdownRadioBgHoverButton"
              data-dropdown-toggle="dropdownRadioBgHover"
              class="w-full text-left bg-white border border-gray-700 rounded-md shadow-sm px-3 py-2 flex justify-between items-center focus:ring focus:border-gray-700"
              type="button"
              (click)="isDropdownOpen = !isDropdownOpen; isRoleTouched = true"
            >
              <span *ngIf="!user.RoleId" class="text-gray-400"
                >Select role</span
              >
              <span *ngIf="user.RoleId">
                {{
                  user.RoleId === "0"
                    ? "Viewer"
                    : user.RoleId === "1"
                    ? "User"
                    : user.RoleId === "2"
                    ? "Admin"
                    : user.RoleId === "3"
                    ? "SuperAdmin"
                    : ""
                }}
              </span>
              <i
                class="fas"
                [ngClass]="{
                  'fa-chevron-down': !isDropdownOpen,
                  'fa-chevron-up': isDropdownOpen
                }"
              ></i>
            </button>

            <!-- Dropdown menu -->
            <div
              id="dropdownRadioBgHover"
              class="z-10 hidden w-full bg-white divide-y divide-gray-100 rounded-lg shadow"
            >
              <ul
                class="p-3 space-y-1 text-sm text-gray-700"
                aria-labelledby="dropdownRadioBgHoverButton"
              >
                <li>
                  <div
                    class="flex items-center p-2 rounded hover:bg-gray-100"
                    (click)="user.RoleId = '0'"
                  >
                    <input
                      id="role-viewer"
                      type="radio"
                      value="0"
                      name="role"
                      class="w-4 h-4 text-indigo-700"
                      [checked]="user.RoleId === '0'"
                    />
                    <label
                      for="role-viewer"
                      class="w-full ms-2 text-sm font-medium"
                      >Viewer</label
                    >
                  </div>
                </li>
                <li>
                  <div
                    class="flex items-center p-2 rounded hover:bg-gray-100"
                    (click)="user.RoleId = '1'"
                  >
                    <input
                      id="role-user"
                      type="radio"
                      value="1"
                      name="role"
                      class="w-4 h-4 text-indigo-700"
                      [checked]="user.RoleId === '1'"
                    />
                    <label
                      for="role-user"
                      class="w-full ms-2 text-sm font-medium"
                      >User</label
                    >
                  </div>
                </li>
                <li>
                  <div
                    class="flex items-center p-2 rounded hover:bg-gray-100"
                    (click)="user.RoleId = '2'"
                  >
                    <input
                      id="role-admin"
                      type="radio"
                      value="2"
                      name="role"
                      class="w-4 h-4 text-indigo-700"
                      [checked]="user.RoleId === '2'"
                    />
                    <label
                      for="role-admin"
                      class="w-full ms-2 text-sm font-medium"
                      >Admin</label
                    >
                  </div>
                </li>
                <li>
                  <div
                    class="flex items-center p-2 rounded hover:bg-gray-100"
                    (click)="user.RoleId = '3'"
                  >
                    <input
                      id="role-superadmin"
                      type="radio"
                      value="3"
                      name="role"
                      class="w-4 h-4 text-indigo-700"
                      [checked]="user.RoleId === '3'"
                    />
                    <label
                      for="role-superadmin"
                      class="w-full ms-2 text-sm font-medium"
                      >SuperAdmin</label
                    >
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div
            *ngIf="isRoleTouched && !user.RoleId"
            class="mt-2 text-sm text-red-500"
          >
            Role is required.
          </div>
        </div>

        <!-- Submit Button -->
        <div>
          <button
            type="submit"
            [disabled]="createUserForm.invalid"
            class="flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
          >
            Create User
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
